<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Peças</title>
</head>
<body>

<header>
    <div class="sidebar">
        <a href="#" title="Página Inicial"><i class="fas fa-home"></i></a>
        <a href="/adiciona/servico" title="Adicionar Serviço"><i class="fas fa-plus-circle"></i></a>
        <a href="/listar-veiculos" title="Listar Veículos"><i class="fas fa-car"></i></a>
        <a href="/listar-funcionarios" title="Listar Funcionários"><i class="fas fa-user"></i></a>
        <a href="/listar-clientes" title="Listar Clientes"><i class="fas fa-users"></i></a>
        <a href="/adiciona/equipe" title="Adicionar Equipe"><i class="fas fa-users-cog"></i></a>
        <a href="/adiciona/peca" title="Adicionar Peça"><i class="fas fa-cogs"></i></a>
        <a href="contact" title="Contato"><i class="fas fa-envelope"></i></a>
    </div>
</header>

<main>
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-4">Lista de Peças</h2>
            <a href="/adicionar/peca" class="btn btn-primary">
                <i class="fas fa-plus"></i> Adicionar Peça
            </a>
        </div>
        <div class="row">
            <div th:each="peca : ${pecas}" class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${peca.nome}"></h5>
                        <p class="card-text">Quantidade: <span th:text="${peca.quantidade}"></span></p>
                        <p class="card-text">Valor: <span th:text="${peca.valor}"></span></p>

                        <!-- Adiciona o botão de exclusão -->
                        <div class="btn-group" role="group">
                            <form th:action="@{/excluir-peca/{id}(id=${peca.id})}" method="post">
                                <button type="submit" class="btn btn-secondary">Excluir</button>
                            </form>
                        </div>

                        <!-- Adiciona o botão de edição -->
                        <div class="btn-group" role="group">
                            <a th:href="@{/editar-peca/{id}(id=${peca.id})}" class="btn btn-primary">Editar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>