<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css" />
    <title>Cadastro de Veículo</title>
</head>
<body>

<header>
    <section class="sidebar">
        <div class="nav-header">
            <p class="logo">Order Service</p>
            <i class="fas fa-bars btn-menu"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" title="Página Inicial">
                    <i class="fas fa-home"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/adiciona/servico" title="Adicionar Serviço">
                    <i class="fas fa-plus-circle"></i>
                    <span class="title">Adicionar Serviço</span>
                </a>
                <span class="tooltip">Adicionar Serviço</span>
            </li>
            <li>
                <a href="/listar-veiculos" title="Listar Veículos">
                    <i class="fas fa-car"></i>
                    <span class="title">Listar Veículos</span>
                </a>
                <span class="tooltip">Listar Veículos</span>
            </li>
            <li>
                <a href="/listar-funcionarios" title="Listar Funcionários">
                    <i class="fas fa-user"></i>
                    <span class="title">Listar Funcionários</span>
                </a>
                <span class="tooltip">Listar Funcionários</span>
            </li>
            <li>
                <a href="/listar-clientes" title="Listar Clientes">
                    <i class="fas fa-users"></i>
                    <span class="title">Listar Clientes</span>
                </a>
                <span class="tooltip">Listar Clientes</span>
            </li>
            <li>
                <a href="/listar-equipes" title="Adicionar Equipe">
                    <i class="fas fa-users-cog"></i>
                    <span class="title">Adicionar Equipe</span>
                </a>
                <span class="tooltip">Adicionar Equipe</span>
            </li>
            <li>
                <a href="/listar-pecas" title="Adicionar Peça">
                    <i class="fas fa-cogs"></i>
                    <span class="title">Adicionar Peça</span>
                </a>
                <span class="tooltip">Adicionar Peça</span>
            </li>
            <li>
                <a href="contact" title="Contato">
                    <i class="fas fa-envelope"></i>
                    <span class="title">Contato</span>
                </a>
                <span class="tooltip">Contato</span>
            </li>
        </ul>
    </section>
</header>

<main>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Cadastro de Veículo</h2>

                <form action="/adicionar/veiculo" method="post" th:object="${veiculo}" class="needs-validation" novalidate>

                    <!-- Placa -->
                    <div class="form-group">
                        <label for="placa">Placa:</label>
                        <input type="text" id="placa" th:field="*{placa}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('placa')}" th:each="error : ${#fields.errors('placa')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Cor -->
                    <div class="form-group">
                        <label for="cor">Cor:</label>
                        <input type="text" id="cor" th:field="*{cor}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('cor')}" th:each="error : ${#fields.errors('cor')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Modelo -->
                    <div class="form-group">
                        <label for="modelo">Modelo:</label>
                        <input type="text" id="modelo" th:field="*{modelo}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('modelo')}" th:each="error : ${#fields.errors('modelo')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Ano -->
                    <div class="form-group">
                        <label for="ano">Ano:</label>
                        <select id="ano" name="ano" class="form-control" required>
                            <!-- JavaScript para popular o dropdown com anos -->
                        </select>
                        <div th:if="${#fields.hasErrors('ano')}" th:each="error : ${#fields.errors('ano')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>


                    <!-- Seleção do cliente -->
                    <div class="form-group">
                        <label for="cliente">Dono do carro</label>
                        <select id="cliente" th:field="*{cliente.id}" class="form-control" required>
                            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                        </select>
                    </div>


                    <!-- Botão de Envio -->
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>

                <!-- Se houver erro, exibir mensagem -->
                <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>
            </div>
        </div>
    </div>
</main>

<script>
    const btn_menu = document.querySelector(".btn-menu");
    const side_bar = document.querySelector(".sidebar");

    btn_menu.addEventListener("click", function () {
      side_bar.classList.toggle("expand");
      changebtn();
    });

    function changebtn() {
      if (side_bar.classList.contains("expand")) {
        btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
      // JavaScript para popular o dropdown com anos
    var selectAno = document.getElementById('ano');
    var anoAtual = new Date().getFullYear();

    for (var ano = 1800; ano <= 2100; ano++) {
        var option = document.createElement('option');
        option.value = ano;
        option.text = ano;
        selectAno.appendChild(option);
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>