<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css" />
    <title>Cadastro de Ordem de Serviço</title>
</head>
<body>

<header>
    <section class="sidebar">
        <div class="nav-header">
            <p class="logo">Order Service</p>
            <i class="fas fa-bars btn-menu"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" title="Página Inicial">
                    <i class="fas fa-home"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/adiciona/servico" title="Adicionar Serviço">
                    <i class="fas fa-plus-circle"></i>
                    <span class="title">Adicionar Serviço</span>
                </a>
                <span class="tooltip">Adicionar Serviço</span>
            </li>
            <li>
                <a href="/listar-veiculos" title="Listar Veículos">
                    <i class="fas fa-car"></i>
                    <span class="title">Listar Veículos</span>
                </a>
                <span class="tooltip">Listar Veículos</span>
            </li>
            <li>
                <a href="/listar-funcionarios" title="Listar Funcionários">
                    <i class="fas fa-user"></i>
                    <span class="title">Listar Funcionários</span>
                </a>
                <span class="tooltip">Listar Funcionários</span>
            </li>
            <li>
                <a href="/listar-clientes" title="Listar Clientes">
                    <i class="fas fa-users"></i>
                    <span class="title">Listar Clientes</span>
                </a>
                <span class="tooltip">Listar Clientes</span>
            </li>
            <li>
                <a href="/listar-equipes" title="Adicionar Equipe">
                    <i class="fas fa-users-cog"></i>
                    <span class="title">Adicionar Equipe</span>
                </a>
                <span class="tooltip">Adicionar Equipe</span>
            </li>
            <li>
                <a href="/listar-pecas" title="Adicionar Peça">
                    <i class="fas fa-cogs"></i>
                    <span class="title">Adicionar Peça</span>
                </a>
                <span class="tooltip">Adicionar Peça</span>
            </li>
            <li>
                <a href="contact" title="Contato">
                    <i class="fas fa-envelope"></i>
                    <span class="title">Contato</span>
                </a>
                <span class="tooltip">Contato</span>
            </li>
        </ul>
    </section>
</header>

<main>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Cadastro de Ordem de Serviço</h2>

                <form action="/adicionar/servico" method="post" th:object="${serviceOrder}" class="needs-validation" novalidate>

                    <!-- Solução -->
                    <div class="form-group">
                        <label for="solucao">Solução:</label>
                        <input type="text" id="solucao" th:field="*{solucao}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('solucao')}" th:each="error : ${#fields.errors('solucao')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Defeito -->
                    <div class="form-group">
                        <label for="defeito">Defeito:</label>
                        <input type="text" id="defeito" th:field="*{defeito}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('defeito')}" th:each="error : ${#fields.errors('defeito')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Tipo de Serviço -->
                    <div class="form-group">
                        <label for="tipo_servico">Defeito:</label>
                        <input type="text" id="tipo_servico" th:field="*{tipo_servico}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('tipo_servico')}" th:each="error : ${#fields.errors('tipo_servico')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Data de Entrada -->
                    <div class="form-group">
                        <label for="data_entrada">Data de Entrada:</label>
                        <input type="date" id="data_entrada" th:field="*{data_entrada}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('data_entrada')}" th:each="error : ${#fields.errors('data_entrada')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Data de Saída -->
                    <div class="form-group">
                        <label for="data_saida">Data de Saída:</label>
                        <input type="date" id="data_saida" th:field="*{data_saida}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('data_saida')}" th:each="error : ${#fields.errors('data_saida')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Seleção das Peças -->
                    <div class="form-group">
                        <label for="pecas">Peças:</label>
                        <select id="pecas" th:field="*{pecas}" class="form-control" multiple required>
                            <option th:each="peca : ${pecas}" th:value="${peca.id}" th:text="${peca.nome}"></option>
                        </select>
                    </div>

                    <!-- Seleção da Equipe -->
                    <div class="form-group">
                        <label for="equipe">Equipe:</label>
                        <select id="equipe" th:field="*{equipe.id}" class="form-control" required>
                            <option th:each="equipe : ${equipes}" th:value="${equipe.id}" th:text="${equipe.nome}"></option>
                        </select>
                    </div>

                    <!-- Seleção do Cliente -->
                    <div class="form-group">
                        <label for="cliente">Cliente:</label>
                        <select id="cliente" th:field="*{cliente.id}" class="form-control" required>
                            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                        </select>
                    </div>

                    <!-- Seleção do Veículo -->
                    <div class="form-group">
                        <label for="veiculo">Veículo:</label>
                        <select id="veiculo" th:field="*{veiculo.id}" class="form-control" required>
                            <option th:each="veiculo : ${veiculos}" th:value="${veiculo.id}" th:text="${veiculo.placa}"></option>
                        </select>
                    </div>

                    <!-- Total da compra -->
                    <div class="form-group">
                        <label for="total">Custo Total:</label>
                        <input type="number" id="total" th:field="*{total}" class="form-control" required>
                        <div th:if="${#fields.hasErrors('total')}" th:each="error : ${#fields.errors('total')}" class="invalid-feedback" th:text="${error}"></div>
                    </div>

                    <!-- Botão de Envio -->
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>

                <!-- Exibição de mensagem de erro -->
                <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>
            </div>
        </div>
    </div>
</main>
<script>
    // JavaScript para popular o dropdown com anos
    var selectAno = document.getElementById('ano');
    var anoAtual = new Date().getFullYear();

    for (var ano = 1800; ano <= 2100; ano++) {
        var option = document.createElement('option');
        option.value = ano;
        option.text = ano;
        selectAno.appendChild(option);
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>