<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css" />
    <title>Ordem de Serviço</title>
</head>
<body>

<main>
    <section class="sidebar">
        <div class="nav-header">
            <p class="logo">Ordem de Serviço</p>
            <i class="fas fa-bars btn-menu"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" title="/dashboard">
                    <i class="fas fa-home"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/adicionar/servico" title="Adicionar Serviço">
                    <i class="fas fa-plus-circle"></i>
                    <span class="title">Adicionar Serviço</span>
                </a>
                <span class="tooltip">Adicionar Serviço</span>
            </li>
            <li>
                <a href="/listar-veiculos" title="Listar Veículos">
                    <i class="fas fa-car"></i>
                    <span class="title">Listar Veículos</span>
                </a>
                <span class="tooltip">Listar Veículos</span>
            </li>
            <li>
                <a href="/listar-funcionarios" title="Listar Funcionários">
                    <i class="fas fa-user"></i>
                    <span class="title">Listar Funcionários</span>
                </a>
                <span class="tooltip">Listar Funcionários</span>
            </li>
            <li>
                <a href="/listar-clientes" title="Listar Clientes">
                    <i class="fas fa-users"></i>
                    <span class="title">Listar Clientes</span>
                </a>
                <span class="tooltip">Listar Clientes</span>
            </li>
            <li>
                <a href="/listar-equipes" title="Adicionar Equipe">
                    <i class="fas fa-users-cog"></i>
                    <span class="title">Adicionar Equipe</span>
                </a>
                <span class="tooltip">Adicionar Equipe</span>
            </li>
            <li>
                <a href="/listar-pecas" title="Adicionar Peça">
                    <i class="fas fa-cogs"></i>
                    <span class="title">Adicionar Peça</span>
                </a>
                <span class="tooltip">Adicionar Peça</span>
            </li>
            <li>
                <a href="contact" title="Contato">
                    <i class="fas fa-envelope"></i>
                    <span class="title">Contato</span>
                </a>
                <span class="tooltip">Contato</span>
            </li>
        </ul>
    </section>

    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-4">Lista de Ordens de Serviço</h2>
            <!-- Adicione o link para adicionar uma nova ordem de serviço, se necessário -->
        </div>
        <!-- Exibição de mensagem de erro -->
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

        <div class="container">
            <div class="row">
                <!-- Loop para cada serviceOrder -->
                <div th:each="serviceOrder : ${serviceOrders}">
                    <div th:class="${serviceOrder.status == null} ? 'border-primary' : (${serviceOrder.status == true} ? 'border-success' : 'border-danger')">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${serviceOrder.tipoServico}"></h5>
                            <p class="card-text"><strong>Solução:</strong> <span th:text="${serviceOrder.solucao}"></span></p>
                            <p class="card-text"><strong>Defeito:</strong> <span th:text="${serviceOrder.defeito}"></span></p>
                            <p class="card-text"><strong>Abertura:</strong> <span th:text="${#temporals.format(serviceOrder.dataEntrada, 'yyyy-MM-dd')}"></span></p>
                            <p class="card-text"><strong>Entrega:</strong> <span th:text="${#temporals.format(serviceOrder.dataSaida, 'yyyy-MM-dd')}"></span></p>
                            <p class="card-text"><strong>Responsável:</strong> <span th:text="${serviceOrder.equipe.nome}"></span></p>
                            <p class="card-text"><strong>Proprietário:</strong> <span th:text="${serviceOrder.cliente.nome}"></span></p>
                            <p class="card-text"><strong>Veículo:</strong> <span th:text="${serviceOrder.veiculo.placa}"></span></p>
                            <p class="card-text"><strong>Material:</strong> <span th:each="peca : ${serviceOrder.pecas}" th:text="${peca.nome}"></span></p>
                            <p class="card-text"><strong>Total:</strong> <span th:text="${serviceOrder.total}"></span></p>
                            <p class="card-text"><strong>Status:</strong>
                                <span th:if="${serviceOrder.status == true}" class="text-success">Aceito</span>
                                <span th:if="${serviceOrder.status == false}" class="text-danger">Recusado</span>
                                <span th:if="${serviceOrder.status == null}" class="text-secondary">Em análise</span>
                            </p>
                            <div class="btn-group" role="group">
                                <!-- Adicione o botão de exclusão -->
                                <form th:action="@{/excluir-servico/{id}(id=${serviceOrder.id})}" method="post">
                                    <button type="submit" class="btn btn-danger custom-delete-btn">Excluir</button>
                                </form>
                            </div>
                            <div class="btn-group" role="group">
                                <!-- Adicione o botão de edição -->
                                <a th:href="@{/editar-servico/{id}(id=${serviceOrder.id})}" class="btn btn-primary custom-edit-btn">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script>
    const btn_menu = document.querySelector(".btn-menu");
    const side_bar = document.querySelector(".sidebar");

    btn_menu.addEventListener("click", function () {
      side_bar.classList.toggle("expand");
      changebtn();
    });

    function changebtn() {
      if (side_bar.classList.contains("expand")) {
        btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>