<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css" />
    <title>Ordem de Serviço</title>
</head>
<body>

<main>
    <section class="sidebar">
        <div class="nav-header">
            <p class="logo">Ordem de Serviço</p>
            <i class="fas fa-bars btn-menu"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" title="/dashboard">
                    <i class="fas fa-home"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/adicionar/servico" title="Adicionar Serviço">
                    <i class="fas fa-plus-circle"></i>
                    <span class="title">Adicionar Serviço</span>
                </a>
                <span class="tooltip">Adicionar Serviço</span>
            </li>
            <li>
                <a href="/listar-veiculos" title="Listar Veículos">
                    <i class="fas fa-car"></i>
                    <span class="title">Listar Veículos</span>
                </a>
                <span class="tooltip">Listar Veículos</span>
            </li>
            <li>
                <a href="/listar-funcionarios" title="Listar Funcionários">
                    <i class="fas fa-user"></i>
                    <span class="title">Listar Funcionários</span>
                </a>
                <span class="tooltip">Listar Funcionários</span>
            </li>
            <li>
                <a href="/listar-clientes" title="Listar Clientes">
                    <i class="fas fa-users"></i>
                    <span class="title">Listar Clientes</span>
                </a>
                <span class="tooltip">Listar Clientes</span>
            </li>
            <li>
                <a href="/listar-equipes" title="Adicionar Equipe">
                    <i class="fas fa-users-cog"></i>
                    <span class="title">Adicionar Equipe</span>
                </a>
                <span class="tooltip">Adicionar Equipe</span>
            </li>
            <li>
                <a href="/listar-pecas" title="Adicionar Peça">
                    <i class="fas fa-cogs"></i>
                    <span class="title">Adicionar Peça</span>
                </a>
                <span class="tooltip">Adicionar Peça</span>
            </li>
            <li>
                <a href="contact" title="Contato">
                    <i class="fas fa-envelope"></i>
                    <span class="title">Contato</span>
                </a>
                <span class="tooltip">Contato</span>
            </li>
        </ul>
    </section>

    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-4">Lista de Ordens de Serviço</h2>
            <!-- Adicione o link para adicionar uma nova ordem de serviço, se necessário -->
        </div>
        <!-- Exibição de mensagem de erro -->
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

        <!-- Utilize a tabela com o novo design -->
        <div class="table-responsive">
            <table class="table table-bordered custom-table">
                <thead class="thead-dark">
                <tr>
                    <th class="text-wrap">Serviço</th>
                    <th class="text-wrap">Solução</th>
                    <th class="text-wrap">Defeito</th>
                    <th class="text-wrap">Abertura</th>
                    <th class="text-wrap">Entrega</th>
                    <th class="text-wrap">Responsável</th>
                    <th class="text-wrap">Proprietário</th>
                    <th class="text-wrap">Veículo</th>
                    <th class="text-wrap">Material</th>
                    <th class="text-wrap">Total</th>
                    <th class="text-wrap">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="serviceOrder : ${serviceOrders}">
                    <td class="text-wrap" th:text="${serviceOrder.tipo_servico}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.solucao}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.defeito}"></td>
                    <td class="text-wrap" th:text="${#temporals.format(serviceOrder.data_entrada, 'yyyy-MM-dd')}"></td>
                    <td class="text-wrap" th:text="${#temporals.format(serviceOrder.data_saida, 'yyyy-MM-dd')}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.equipe.nome}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.cliente.nome}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.veiculo.placa}"></td>
                    <td class="text-wrap" th:text="${serviceOrder.total}"></td>
                    <td class="text-wrap" th:each="peca : ${serviceOrder.pecas}" th:text="${peca.nome}"></td>

                    <td class="text-wrap">
                        <div class="btn-group" role="group">
                            <!-- Adicione o botão de exclusão -->
                            <form th:action="@{/excluir-servico/{id}(id=${serviceOrder.id})}" method="post">
                                <button type="submit" class="btn btn-danger custom-delete-btn">Excluir</button>
                            </form>

                            <!-- Adicione o botão de edição -->
                            <a th:href="@{/editar-servico/{id}(id=${serviceOrder.id})}" class="btn btn-primary custom-edit-btn">Editar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
<script>
    const btn_menu = document.querySelector(".btn-menu");
    const side_bar = document.querySelector(".sidebar");

    btn_menu.addEventListener("click", function () {
      side_bar.classList.toggle("expand");
      changebtn();
    });

    function changebtn() {
      if (side_bar.classList.contains("expand")) {
        btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>