<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sideBar.css" />
  <title>Cadastro de Equipe</title>
</head>
<body>

<main>
  <header>
    <section class="sidebar">
      <div class="nav-header">
        <p class="logo">Ordem de Serviço</p>
        <i class="fas fa-bars btn-menu"></i>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/listar-servico" title="/listar-servico">
            <i class="fas fa-home"></i>
            <span class="title">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/adicionar/servico" title="Adicionar Serviço">
            <i class="fas fa-plus-circle"></i>
            <span class="title">Adicionar Serviço</span>
          </a>
          <span class="tooltip">Adicionar Serviço</span>
        </li>
        <li>
          <a href="/listar-veiculos" title="Listar Veículos">
            <i class="fas fa-car"></i>
            <span class="title">Listar Veículos</span>
          </a>
          <span class="tooltip">Listar Veículos</span>
        </li>
        <li>
          <a href="/listar-funcionarios" title="Listar Funcionários">
            <i class="fas fa-user"></i>
            <span class="title">Listar Funcionários</span>
          </a>
          <span class="tooltip">Listar Funcionários</span>
        </li>
        <li>
          <a href="/listar-clientes" title="Listar Clientes">
            <i class="fas fa-users"></i>
            <span class="title">Listar Clientes</span>
          </a>
          <span class="tooltip">Listar Clientes</span>
        </li>
        <li>
          <a href="/listar-equipes" title="Adicionar Equipe">
            <i class="fas fa-users-cog"></i>
            <span class="title">Adicionar Equipe</span>
          </a>
          <span class="tooltip">Adicionar Equipe</span>
        </li>
        <li>
          <a href="/listar-pecas" title="Adicionar Peça">
            <i class="fas fa-cogs"></i>
            <span class="title">Adicionar Peça</span>
          </a>
          <span class="tooltip">Adicionar Peça</span>
        </li>
        <li>
          <a href="contact" title="Contato">
            <i class="fas fa-envelope"></i>
            <span class="title">Contato</span>
          </a>
          <span class="tooltip">Contato</span>
        </li>

        <li>
          <a href="/lista-perfil" title="Tela de Perfil">
            <i class="fas fa-users"></i>
            <span class="title">Tela de Perfil</span>
          </a>
          <span class="tooltip">Tela de Perfil</span>
        </li>
      </ul>
    </section>
  </header>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Cadastro de Equipes</h2>

        <form action="/adicionar/equipe" method="post" th:object="${equipe}" class="needs-validation" novalidate>

          <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>

          <!-- Nome da Equipe -->
          <div class="form-group">
            <label for="nome">Nome da Equipe</label>
            <input type="text" id="nome" th:field="*{nome}" class="form-control" required>
            <div th:if="${#fields.hasErrors('nome')}" th:each="error : ${#fields.errors('nome')}" class="invalid-feedback" th:text="${error}"></div>
          </div>

          <!-- Função da Equipe -->
          <div class="form-group">
            <label for="funcao">Função da Equipe</label>
            <input type="text" id="funcao" th:field="*{funcao}" class="form-control" required>
            <div th:if="${#fields.hasErrors('funcao')}" th:each="error : ${#fields.errors('funcao')}" class="invalid-feedback" th:text="${error}"></div>
          </div>

          <!-- Seleção do funcionário -->
          <div class="form-group">
            <label for="funcionario">Mecânicos</label>
            <select id="funcionario" th:field="*{funcionario.id}" class="form-control" required>
              <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

      </div>
    </div>
  </div>
</main>

<script>
  const btn_menu = document.querySelector(".btn-menu");
  const side_bar = document.querySelector(".sidebar");

  btn_menu.addEventListener("click", function () {
    side_bar.classList.toggle("expand");
    changebtn();
  });

  function changebtn() {
    if (side_bar.classList.contains("expand")) {
      btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
    } else {
      btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>